*{
    margin: 0;
    padding: 0;
    text-align: center;
    /* box-sizing:border-box; */
}

header, footer {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2f33;
    color: white;
}

header {
    top: 0;
    height: 5rem;
}

footer {
    bottom: 0;
    height: 5rem;
}

main {
    min-height: calc(100vh - 10rem);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    background-color: #99aab5;
}

.message {
    background-color: white;
    margin: 1rem 50% 1rem auto;
    width: 15rem;
    border: 0.15rem solid black;
    border-radius: 1rem;
    align-self: center;
}

.message-old {
    background-color: lightgrey;
}

.message-self {
    margin: 1rem auto 1rem 50%;
}

.messagebody {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.messagedate {
    margin: 0.2rem;
}

.userform {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    margin: 2rem;
    align-self: center;
}

#tchatinput {
    display: none;
}